.App {
	text-align: center;
	width: 100%;
}

.App-logo {
	height: 40vmin;
}

/* .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

/* .App-link {
	color: #09d3ac;
} */

/* * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
*:before,
*:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
} */

* {
	box-sizing: border-box;
}

.container-main {
	background-image: url("../images/img3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
}

nav .nav-item {
	text-decoration: none !important;
	color: black;
}

/* a .navbar-brand {
	font-size: 28px;
	font-weight: 200;
} */

.header-upload {
	padding-top: 25px;
	margin-bottom: 30px;
}

input {
	text-align: center;
}

/* .form-container {
	border: 1px solid;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	box-shadow: #000;
} */

.btn-file {
	position: relative;
	overflow: hidden;
}

input {
	margin: 0 auto;
	max-width: 100%;
}

.btn-file input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: center;
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.test-page-container {
	position: relative;
	top: 100px;
}

.Container {
	position: relative;
	top: 100px;
	width: 300px;
}

.delete-button {
	padding: 5px;
}

.form-class {
	width: 300px;
	margin: 0 auto;
}

p .forgot-passport {
	text-align: center;
}

.form-main {
	margin-top: 80px;
}

.form-main h2 {
	margin-bottom: 20px;
}

.header-login {
	margin-top: 80px;
	margin-bottom: 20px;
}

button .submit {
	margin: 10px 0;
	padding-top: 20px;
}

.submit {
	padding: 8px;
}

input {
	width: 100%;
	max-width: 300px;
	box-sizing: border-box;
}

.google-button {
	margin-top: 7px;
}

.submit {
	padding: 7px;
}

.google-button a {
	color: white;
	text-decoration: none;
}

.block-header {
	margin: 0 100px;
	margin-top: 30px;
	margin-bottom: 40px;
	text-align: left;
}

.block-p {
	margin: 0 100px;
	margin-bottom: 15px;
	text-align: justify;
}

@media only screen and (max-width: 600px) {
	/* body {
		box-sizing: content-box !important;
	} */
	.block-header {
		margin: 0 60px;
		margin-top: 30px;
		margin-bottom: 40px;
		text-align: left;
	}
	.block-p {
		margin: 0 40px;
		margin-bottom: 15px;
		text-align: justify;
	}
}

.box-profile {
	margin-top: 20px;
}
